# Build and Release Folders
bin-debug/ kamu dimana   <button> plis ya 
bin-release/ hay kamu lagi apa 
[Oo]bj/ jaga dirimu ya 
[Bb]in/ selalu jaga protokol kesehatan

# Other files and folders
.settings/ <button> yees

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
